
.footer {
  background-image: url('/src/images/Footer/footer\ farm.jpg');
  background-size: cover;
  background-position: center;
  height: 100px;
  font-weight: bold;
  text-shadow: rgb(246, 7, 7);
}

.footer-content {
    padding: 10px;
    text-align: center;
    border-radius: 12px;
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
  }
  
  .social-media-icon {
    width: 30px;
    height: 30px;
    margin: 0 5px;
  }
  
  .footer-text {
    margin-top: 10px;
  }
  