.App {
  background-color: #fefefe;
  /* background-image: url('/src/images/background.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;

  
}